/* Allmänt dokumentinställning */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  line-height: 1.6;
}

/* Rubriker */
h1 {
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  color: #555;
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* Stycke */
p {
  font-size: 1.2em;
  color: #444;
  margin-bottom: 20px;
}

/* Länkar */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Bilder */
img {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  border: 3px solid #ddd;
}

/* Tabeller */
table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  background-color: #fff;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

/* Listor */
ul {
  list-style-type: disc;
  padding-left: 40px;
}

ul li {
  margin-bottom: 10px;
}

/* Länk till analyssida */
h2 + a {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border-radius: 5px;
  width: fit-content;
}

h2 + a:hover {
  background-color: #0056b3;
}
